/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(173, 216, 230, 0.2);
}

/* Header */
header{
    padding-left: 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    vertical-align: middle;
}

.top-page span{
    vertical-align: middle;
    font-size: 2rem;
}

.top-page{
    line-height: 70px;
}